{% extends 'base.html' %}
{% load i18n assets %}

{% block content %}

<!-- STATISTIC-->
<section class="statistic">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">{% asset_count %}</h2>
                        <span class="desc"><a href="{% url 'assets:asset-list' %}">{% trans 'Actifs' %}</a></span>
                        <div class="icon">
                            <i class="zmdi zmdi-collection-item"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">{% location_count %}</h2>
                        <span class="desc"><a href="{% url 'assets:location-list' %}">{% trans 'Emplacements' %}</a></span>
                        <div class="icon">
                            <i class="zmdi zmdi-globe"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item">
                        <h2 class="number">{% supplier_count %}</h2>
                        <span class="desc"><a href="{% url 'assets:supplier-list' %}">{% trans 'Fournisseurs' %}</a></span>
                        <div class="icon">
                            <i class="zmdi zmdi-truck"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="statistic__item">
                    <h2 class="number">${% assets_value %}</h2>
                    <span class="desc">{% trans 'Valeur totale' %}</span>
                    <div class="icon">
                      <i class="zmdi zmdi-money"></i>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
              <div class="col-xl-8">
                  <!-- USER DATA-->
                  <div class="user-data m-b-40">
                      <h3 class="title-3 m-b-30">
                          <i class="zmdi zmdi-account-calendar"></i>
                          Utilisateurs
                      </h3>
                      <div class="table-responsive table-data">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <td>
                                          <label class="au-checkbox">
                                              <input type="checkbox">
                                              <span class="au-checkmark"></span>
                                          </label>
                                      </td>
                                      <td>Nom</td>
                                      <td>Groupes</td>
                                      <td>Nom d'utilisateur</td>
                                      <td></td>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for user in users %}
                                  <tr>
                                      <td>
                                          <label class="au-checkbox">
                                              <input type="checkbox">
                                              <span class="au-checkmark"></span>
                                          </label>
                                      </td>
                                      <td>
                                          <div class="table-data__info">
                                              <h6>{{ user.username }}</h6>
                                              <span>
                                                  <a href="#">{{ user.email }}</a>
                                              </span>
                                          </div>
                                      </td>
                                      <td>
                                          {{ user.username }}
                                      </td>
                                      <td>
                                        {% for group in users.groups %}
                                          <span class="role admin">{{ group }}</span>
                                        {% endfor %}
                                        {% if user.is_superuser %}
                                          <span class="role admin">Administrateur</span>
                                        {% endif %}
                                      </td>
                                      <td>
                                          <span class="more">
                                              <i class="zmdi zmdi-more"></i>
                                          </span>
                                      </td>
                                  </tr>
                                {% endfor %}

                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- END USER DATA-->
              </div>
                <div class="col-xl-4">
                    <!-- TASK PROGRESS-->
                    <div class="task-progress">
                        <h3 class="title-3">{% trans 'État des actifs'%}</h3>
                        <div class="au-skill-container">
                            <canvas id="assets_states_chart"></canvas>
                        </div>
                    </div>
                    <!-- END TASK PROGRESS-->
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block extra_footer_scripts %}
<script>
var colors = [

  '#232346', // pink
  '#3280FF', // blue
  '#6400FF', // red
  '#480C9F', // green
  '#00FFFF', // orange
  '#4D4D4D', // gray
  '#5DA5DA', // blue
  '#FAA43A', // orange
  '#F15854', // red
  '#60BD68', // green
  '#F17CB0', // pink
  '#4D4D4D', // gray
  '#5DA5DA', // blue
  '#FAA43A', // orange
  '#F15854', // red
  '#60BD68', // green
  '#F17CB0', // pink
  '#4D4D4D', // gray
  '#5DA5DA', // blue
  '#FAA43A', // orange
  '#F15854', // red
  '#60BD68', // green
  '#F17CB0', // pink
  '#4D4D4D', // gray
]
var state_data = []
var state_labels = []

{% assets_states as states %}
{% for state, count in states.items %}
state_data.push({{ count }});
state_labels.push("{{ state|escapejs }}");
{% endfor %}

var data = {
  datasets: [{
    data: state_data,
    backgroundColor: colors,
  }],
  labels: state_labels,
}
var options = {
    legend:{
        display: true,
        position: 'right',
        labels:{
            fontColor: '#000',
        }
    }
}

var ctx = document.getElementById("assets_states_chart");

var myPieChart = new Chart(ctx,{
    type: 'doughnut',
    data: data,
    options: options
});

</script>
{% endblock %}
